Repository danieleschmidt/dp-flash-attention, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danieleschmidt, @privacy-team, @cuda-team, @security-team, @devops-team, @docs-team, @sre-team, @compliance-team, @legal-team, @release-team

.github/CODEOWNERS:

# CODEOWNERS for DP-Flash-Attention
# This file defines code ownership for review requirements
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users are requested for review on all PRs
* @danieleschmidt

# Privacy-critical components require privacy expert review
src/dp_flash_attention/privacy/ @danieleschmidt @privacy-team
tests/privacy/ @danieleschmidt @privacy-team
scripts/check_privacy_params.py @danieleschmidt @privacy-team

# CUDA kernel implementations require systems expert review  
src/dp_flash_attention/kernels/ @danieleschmidt @cuda-team
scripts/cuda_security_check.py @danieleschmidt @cuda-team

# Security-related files require security team review
SECURITY.md @danieleschmidt @security-team
.github/workflows/security.yml @danieleschmidt @security-team
.pre-commit-config.yaml @danieleschmidt @security-team

# Infrastructure and CI/CD
.github/workflows/ @danieleschmidt @devops-team
Dockerfile @danieleschmidt @devops-team
docker-compose.yml @danieleschmidt @devops-team
.devcontainer/ @danieleschmidt @devops-team

# Documentation requires doc team review
docs/ @danieleschmidt @docs-team
README.md @danieleschmidt @docs-team
CONTRIBUTING.md @danieleschmidt @docs-team

# Build and packaging
pyproject.toml @danieleschmidt
setup.py @danieleschmidt
Makefile @danieleschmidt

# Monitoring and observability  
monitoring/ @danieleschmidt @sre-team
docs/monitoring/ @danieleschmidt @sre-team

# Compliance and governance
docs/compliance/ @danieleschmidt @compliance-team
LICENSE @danieleschmidt @legal-team

# Release management
CHANGELOG.md @danieleschmidt @release-team
.github/workflows/release.yml @danieleschmidt @release-team

feat(terragon): add autonomous SDLC system for continuous improvement
  .terragon/README.md
  .terragon/autonomous-executor.py
  .terragon/config.yaml
  .terragon/execution-history.json
  .terragon/execution-summary-20250801-153515.md
  .terragon/performance-metrics.json
  .terragon/performance-monitor.py
  .terragon/scheduler.sh
  .terragon/security-analysis.json
  .terragon/security-analyzer.py
  .terragon/value-discovery.py
  .terragon/value-metrics.json
  BACKLOG.md
Owners: @danieleschmidt, @docs-team

feat(docs): add comprehensive architecture, charter, roadmap, and ADRs
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0000-use-architecture-decision-records.md
  docs/adr/0001-cuda-kernel-architecture.md
  docs/adr/0002-privacy-accounting-framework.md
Owners: @danieleschmidt, @docs-team

feat: complete SDLC implementation with environment config and metrics
  .env.example
  .github/project-metrics.json
  docs/SETUP_REQUIRED.md
Owners: @danieleschmidt, @docs-team

Update README.md
  README.md
Owners: @danieleschmidt, @docs-team

feat(deployment): add comprehensive deployment setup and documentation
  DEPLOYMENT.md
  Dockerfile.prod
  config/production.json
  deploy/kubernetes.yaml
  docker-compose.prod.yml
  scripts/entrypoint.sh
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/autoscaling.py
  src/dp_flash_attention/concurrent.py
  src/dp_flash_attention/config.py
  src/dp_flash_attention/core.py
  src/dp_flash_attention/diagnostics.py
  src/dp_flash_attention/functional.py
  src/dp_flash_attention/kernels.py
  src/dp_flash_attention/monitoring.py
  src/dp_flash_attention/optimization.py
  src/dp_flash_attention/privacy.py
  src/dp_flash_attention/security.py
  src/dp_flash_attention/utils.py
  src/dp_flash_attention/validation.py
Owners: @danieleschmidt

feat(deployment): add comprehensive deployment setup and documentation (#10)
  DEPLOYMENT.md
  Dockerfile.prod
  config/production.json
  deploy/kubernetes.yaml
  docker-compose.prod.yml
  scripts/entrypoint.sh
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/autoscaling.py
  src/dp_flash_attention/concurrent.py
  src/dp_flash_attention/config.py
  src/dp_flash_attention/core.py
  src/dp_flash_attention/diagnostics.py
  src/dp_flash_attention/functional.py
  src/dp_flash_attention/kernels.py
  src/dp_flash_attention/monitoring.py
  src/dp_flash_attention/optimization.py
  src/dp_flash_attention/privacy.py
  src/dp_flash_attention/security.py
  src/dp_flash_attention/utils.py
  src/dp_flash_attention/validation.py
Owners: @danieleschmidt

feat(deployment): add complete production deployment configuration and automation
  SDLC_COMPLETION_REPORT.md
  deployment/Dockerfile
  deployment/deploy_docker.sh
  deployment/deploy_k8s.sh
  deployment/deployment.yaml
  deployment/deployment_summary.json
  deployment/docker-compose.yml
  deployment/dp_flash_attention_rules.yml
  deployment/env.template
  deployment/grafana_dashboard.json
  deployment/hpa.yaml
  deployment/network-policy.yaml
  deployment/production_checklist.md
  deployment/prometheus.yml
  deployment/requirements.txt
  deployment/security_policy.md
  deployment_config.py
  quality_gates.py
  quality_gates_report.json
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/cli.py
  src/dp_flash_attention/core.py
  src/dp_flash_attention/distributed.py
  src/dp_flash_attention/error_handling.py
  src/dp_flash_attention/functional.py
  src/dp_flash_attention/helper_functions.py
  src/dp_flash_attention/logging_utils.py
  src/dp_flash_attention/performance_tuning.py
  test_basic.py
  test_generation2.py
  test_generation3.py
  test_logic.py
  test_robust_logic.py
Owners: @danieleschmidt, @devops-team

feat(deployment): add complete production deployment configuration and automation (#11)
  SDLC_COMPLETION_REPORT.md
  deployment/Dockerfile
  deployment/deploy_docker.sh
  deployment/deploy_k8s.sh
  deployment/deployment.yaml
  deployment/deployment_summary.json
  deployment/docker-compose.yml
  deployment/dp_flash_attention_rules.yml
  deployment/env.template
  deployment/grafana_dashboard.json
  deployment/hpa.yaml
  deployment/network-policy.yaml
  deployment/production_checklist.md
  deployment/prometheus.yml
  deployment/requirements.txt
  deployment/security_policy.md
  deployment_config.py
  quality_gates.py
  quality_gates_report.json
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/cli.py
  src/dp_flash_attention/core.py
  src/dp_flash_attention/distributed.py
  src/dp_flash_attention/error_handling.py
  src/dp_flash_attention/functional.py
  src/dp_flash_attention/helper_functions.py
  src/dp_flash_attention/logging_utils.py
  src/dp_flash_attention/performance_tuning.py
  test_basic.py
  test_generation2.py
  test_generation3.py
  test_logic.py
  test_robust_logic.py
Owners: @danieleschmidt, @devops-team

test(system): add comprehensive system and generation test suites
  AUTONOMOUS_SDLC_REPORT.md
  dp_env/bin/Activate.ps1
  dp_env/bin/activate
  dp_env/bin/activate.csh
  dp_env/bin/activate.fish
  dp_env/bin/f2py
  dp_env/bin/isympy
  dp_env/bin/numpy-config
  dp_env/bin/pip
  dp_env/bin/pip3
  dp_env/bin/pip3.12
  dp_env/bin/python
  dp_env/bin/python3
  dp_env/bin/python3.12
  dp_env/bin/torchfrtrace
  dp_env/bin/torchrun
  dp_env/lib64
  dp_env/pyvenv.cfg
  dp_env/share/man/man1/isympy.1
  src/dp_flash_attention/monitoring.py
  src/dp_flash_attention/security.py
  test_complete_system.py
  test_generation1_basic.py
  test_generation2_robustness.py
  test_generation3_optimization.py
Owners: @danieleschmidt

test(system): add comprehensive system and generation test suites (#12)
  AUTONOMOUS_SDLC_REPORT.md
  dp_env/bin/Activate.ps1
  dp_env/bin/activate
  dp_env/bin/activate.csh
  dp_env/bin/activate.fish
  dp_env/bin/f2py
  dp_env/bin/isympy
  dp_env/bin/numpy-config
  dp_env/bin/pip
  dp_env/bin/pip3
  dp_env/bin/pip3.12
  dp_env/bin/python
  dp_env/bin/python3
  dp_env/bin/python3.12
  dp_env/bin/torchfrtrace
  dp_env/bin/torchrun
  dp_env/lib64
  dp_env/pyvenv.cfg
  dp_env/share/man/man1/isympy.1
  src/dp_flash_attention/monitoring.py
  src/dp_flash_attention/security.py
  test_complete_system.py
  test_generation1_basic.py
  test_generation2_robustness.py
  test_generation3_optimization.py
Owners: @danieleschmidt

chore(quality-gates): update quality gates report with new metrics and timestamps
  quality_gates_report.json
Owners: @danieleschmidt

chore(quality-gates): update quality gates report with new metrics and timestamps (#13)
  quality_gates_report.json
Owners: @danieleschmidt

feat(dp_flash_attention): add advanced generations 4-5 with research, benchmarking, globalization, deployment
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  src/dp_flash_attention/benchmarking.py
  src/dp_flash_attention/deployment.py
  src/dp_flash_attention/globalization.py
  src/dp_flash_attention/research.py
  test_advanced_generations.py
  test_advanced_minimal.py
  test_architecture_validation.py
  test_standalone_advanced.py
Owners: @danieleschmidt

feat(dp_flash_attention): add advanced generations 4-5 with research, benchmarking, globalization, deployment (#14)
  FINAL_AUTONOMOUS_SDLC_REPORT.md
  src/dp_flash_attention/benchmarking.py
  src/dp_flash_attention/deployment.py
  src/dp_flash_attention/globalization.py
  src/dp_flash_attention/research.py
  test_advanced_generations.py
  test_advanced_minimal.py
  test_architecture_validation.py
  test_standalone_advanced.py
Owners: @danieleschmidt

feat(sdlc): add comprehensive autonomous SDLC completion with research, robustness, and scaling
  TERRAGON_SDLC_COMPLETION_REPORT.md
  advanced_research_validation.py
  minimal_research_validation.py
  quality_gates_report.json
  research_outputs/research_publication_1755030901.md
  research_outputs/research_results_1755030901.json
  robustness_enhancement.py
  robustness_outputs/robustness_report_1755031085.md
  robustness_outputs/robustness_results_1755031085.json
  scaling_optimization.py
  scaling_outputs/scaling_analysis_1755031364.json
  scaling_outputs/scaling_report_1755031364.md
Owners: @danieleschmidt

feat(sdlc): add comprehensive autonomous SDLC completion with research, robustness, and scaling (#17)
  TERRAGON_SDLC_COMPLETION_REPORT.md
  advanced_research_validation.py
  minimal_research_validation.py
  quality_gates_report.json
  research_outputs/research_publication_1755030901.md
  research_outputs/research_results_1755030901.json
  robustness_enhancement.py
  robustness_outputs/robustness_report_1755031085.md
  robustness_outputs/robustness_results_1755031085.json
  scaling_optimization.py
  scaling_outputs/scaling_analysis_1755031364.json
  scaling_outputs/scaling_report_1755031364.md
Owners: @danieleschmidt

feat(autonomous-sdlc): complete three-generation SDLC implementation with global-first design
  DEPLOYMENT_COMPLETE.md
  quality_gates_report.json
  src/dp_flash_attention/helper_functions.py
  test_basic_import.py
  test_generation2_robustness.py
  test_generation3_scaling.py
Owners: @danieleschmidt

feat(autonomous-sdlc): complete three-generation SDLC implementation with global-first design (#18)
  DEPLOYMENT_COMPLETE.md
  quality_gates_report.json
  src/dp_flash_attention/helper_functions.py
  test_basic_import.py
  test_generation2_robustness.py
  test_generation3_scaling.py
Owners: @danieleschmidt

feat(autonomous-sdlc): complete Generation 4 implementation with autonomous self-improvement, advanced research engine, and global deployment capabilities
  AUTONOMOUS_SDLC_QUALITY_REPORT.json
  AUTONOMOUS_SDLC_QUALITY_REPORT.md
  FINAL_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  autonomous_sdlc_quality_gates.py
  deployment/production_deployment.sh
  src/dp_flash_attention/advanced_research_engine.py
  src/dp_flash_attention/autonomous_improvements.py
  src/dp_flash_attention/global_deployment_engine.py
  test_generation4_advanced.py
  test_standalone_generation4.py
Owners: @danieleschmidt

feat(autonomous-sdlc): complete Generation 4 implementation with autonomous self-improvement, advanced research engine, and global deployment capabilities (#19)
  AUTONOMOUS_SDLC_QUALITY_REPORT.json
  AUTONOMOUS_SDLC_QUALITY_REPORT.md
  FINAL_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  autonomous_sdlc_quality_gates.py
  deployment/production_deployment.sh
  src/dp_flash_attention/advanced_research_engine.py
  src/dp_flash_attention/autonomous_improvements.py
  src/dp_flash_attention/global_deployment_engine.py
  test_generation4_advanced.py
  test_standalone_generation4.py
Owners: @danieleschmidt

feat(autonomous-enhancement): add Generation 4.1 autonomous optimization and security features
  GENERATION_4.1_COMPLETION_REPORT.md
  autonomous_enhancement_engine.py
  config/enhancement.json
  enhancement_reports/enhancement_report_20250815_145753.md
  federated_reports/federation_report_20250815_145848.md
  quantum_privacy_reports/quantum_report_20250815_145810.md
  security_reports/security_report_20250815_145916.md
  src/dp_flash_attention/federated_learning_coordinator.py
  src/dp_flash_attention/quantum_privacy_mechanisms.py
  src/dp_flash_attention/threat_detection_system.py
Owners: @danieleschmidt

feat(autonomous-enhancement): add Generation 4.1 autonomous optimization and security features (#20)
  GENERATION_4.1_COMPLETION_REPORT.md
  autonomous_enhancement_engine.py
  config/enhancement.json
  enhancement_reports/enhancement_report_20250815_145753.md
  federated_reports/federation_report_20250815_145848.md
  quantum_privacy_reports/quantum_report_20250815_145810.md
  security_reports/security_report_20250815_145916.md
  src/dp_flash_attention/federated_learning_coordinator.py
  src/dp_flash_attention/quantum_privacy_mechanisms.py
  src/dp_flash_attention/threat_detection_system.py
Owners: @danieleschmidt

feat(autonomous_sdlc): add full autonomous SDLC completion with research and production
  AUTONOMOUS_SDLC_COMPLETION_FINAL_REPORT.md
  dp_env/bin/pygmentize
  production_readiness_checklist.py
  production_readiness_report.txt
  research_experimental_framework.py
  src/dp_flash_attention/autonomous_self_improvement.py
  src/dp_flash_attention/enhanced_global_compliance.py
  src/dp_flash_attention/quantum_resistant_privacy.py
Owners: @danieleschmidt

feat(autonomous_sdlc): add full autonomous SDLC completion with research and production (#21)
  AUTONOMOUS_SDLC_COMPLETION_FINAL_REPORT.md
  dp_env/bin/pygmentize
  production_readiness_checklist.py
  production_readiness_report.txt
  research_experimental_framework.py
  src/dp_flash_attention/autonomous_self_improvement.py
  src/dp_flash_attention/enhanced_global_compliance.py
  src/dp_flash_attention/quantum_resistant_privacy.py
Owners: @danieleschmidt

feat(research): add breakthrough privacy mechanisms and research framework
  AUTONOMOUS_RESEARCH_BREAKTHROUGH_COMPLETION_REPORT.md
  BREAKTHROUGH_RESEARCH_PUBLICATION.md
  RESEARCH_ENHANCED_DEPLOYMENT_GUIDE.md
  research_breakthrough_validation.py
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/advanced_research_mechanisms.py
  src/dp_flash_attention/comparative_research_framework.py
  src/dp_flash_attention/enhanced_dp_flash_attention.py
Owners: @danieleschmidt

feat(research): add breakthrough privacy mechanisms and research framework (#22)
  AUTONOMOUS_RESEARCH_BREAKTHROUGH_COMPLETION_REPORT.md
  BREAKTHROUGH_RESEARCH_PUBLICATION.md
  RESEARCH_ENHANCED_DEPLOYMENT_GUIDE.md
  research_breakthrough_validation.py
  src/dp_flash_attention/__init__.py
  src/dp_flash_attention/advanced_research_mechanisms.py
  src/dp_flash_attention/comparative_research_framework.py
  src/dp_flash_attention/enhanced_dp_flash_attention.py
Owners: @danieleschmidt

feat(validation): add standalone validation utilities without PyTorch dependencies
  src/dp_flash_attention/standalone_validation.py
  test_generation1_basic_enhanced.py
  test_generation1_no_deps.py
  test_generation2_robustness_enhanced.py
Owners: @danieleschmidt

feat(validation): add standalone validation utilities without PyTorch dependencies (#24)
  src/dp_flash_attention/standalone_validation.py
  test_generation1_basic_enhanced.py
  test_generation1_no_deps.py
  test_generation2_robustness_enhanced.py
Owners: @danieleschmidt

feat(generation5): add Generation 5 autonomous enhancement with advanced AI features
  GENERATION_5_COMPLETION_REPORT.md
  src/dp_flash_attention/autonomous_monitoring_system.py
  src/dp_flash_attention/autonomous_research_pipeline.py
  src/dp_flash_attention/generation5_adaptive_privacy.py
  src/dp_flash_attention/generation5_edge_optimization.py
  src/dp_flash_attention/generation5_multimodal_attention.py
  src/dp_flash_attention/generation5_quantum_privacy.py
  test_generation5_autonomous_framework.py
Owners: @danieleschmidt

feat(generation5): add Generation 5 autonomous enhancement with advanced AI features (#25)
  GENERATION_5_COMPLETION_REPORT.md
  src/dp_flash_attention/autonomous_monitoring_system.py
  src/dp_flash_attention/autonomous_research_pipeline.py
  src/dp_flash_attention/generation5_adaptive_privacy.py
  src/dp_flash_attention/generation5_edge_optimization.py
  src/dp_flash_attention/generation5_multimodal_attention.py
  src/dp_flash_attention/generation5_quantum_privacy.py
  test_generation5_autonomous_framework.py
Owners: @danieleschmidt

feat(deployment): add autonomous production-ready DP-Flash-Attention system
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  Dockerfile
  deployment/development/deployment.yaml
  deployment/development/network-policy.yaml
  deployment/development/service.yaml
  deployment/production/deployment.yaml
  deployment/production/hpa.yaml
  deployment/production/network-policy.yaml
  deployment/production/service.yaml
  deployment/staging/deployment.yaml
  deployment/staging/network-policy.yaml
  deployment/staging/service.yaml
  docker-compose.yml
  dp_flash_production_deployment.py
  dp_flash_quality_gates.py
  dp_flash_robust_system.py
  dp_flash_scaling_system.py
  dp_flash_workable_foundation.py
  monitoring/dp_flash_attention_rules.yml
  monitoring/grafana_dashboard.json
  monitoring/prometheus.yml
Owners: @danieleschmidt, @devops-team, @sre-team

feat(deployment): add autonomous production-ready DP-Flash-Attention system (#26)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  Dockerfile
  deployment/development/deployment.yaml
  deployment/development/network-policy.yaml
  deployment/development/service.yaml
  deployment/production/deployment.yaml
  deployment/production/hpa.yaml
  deployment/production/network-policy.yaml
  deployment/production/service.yaml
  deployment/staging/deployment.yaml
  deployment/staging/network-policy.yaml
  deployment/staging/service.yaml
  docker-compose.yml
  dp_flash_production_deployment.py
  dp_flash_quality_gates.py
  dp_flash_robust_system.py
  dp_flash_scaling_system.py
  dp_flash_workable_foundation.py
  monitoring/dp_flash_attention_rules.yml
  monitoring/grafana_dashboard.json
  monitoring/prometheus.yml
Owners: @danieleschmidt, @devops-team, @sre-team

feat(autonomous-sdlc): add TERRAGON autonomous SDLC final report and new virtual env setup
  AUTONOMOUS_SDLC_REPORT.md
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  dp_env_new/bin/Activate.ps1
  dp_env_new/bin/activate
  dp_env_new/bin/activate.csh
  dp_env_new/bin/activate.fish
  dp_env_new/bin/f2py
  dp_env_new/bin/fonttools
  dp_env_new/bin/isympy
  dp_env_new/bin/ninja
  dp_env_new/bin/numpy-config
  dp_env_new/bin/pip
  dp_env_new/bin/pip3
  dp_env_new/bin/pip3.12
  dp_env_new/bin/pybind11-config
  dp_env_new/bin/pyftmerge
  dp_env_new/bin/pyftsubset
  dp_env_new/bin/python
  dp_env_new/bin/python3
  dp_env_new/bin/python3.12
  dp_env_new/bin/torchfrtrace
  dp_env_new/bin/torchrun
  dp_env_new/bin/ttx
  dp_env_new/lib64
  dp_env_new/pyvenv.cfg
  dp_env_new/share/man/man1/isympy.1
  dp_env_new/share/man/man1/ttx.1
  generation5_test_report.json
  quality_gates_report.json
Owners: @danieleschmidt

feat(autonomous-sdlc): add TERRAGON autonomous SDLC final report and new virtual env setup (#28)
  AUTONOMOUS_SDLC_REPORT.md
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  dp_env_new/bin/Activate.ps1
  dp_env_new/bin/activate
  dp_env_new/bin/activate.csh
  dp_env_new/bin/activate.fish
  dp_env_new/bin/f2py
  dp_env_new/bin/fonttools
  dp_env_new/bin/isympy
  dp_env_new/bin/ninja
  dp_env_new/bin/numpy-config
  dp_env_new/bin/pip
  dp_env_new/bin/pip3
  dp_env_new/bin/pip3.12
  dp_env_new/bin/pybind11-config
  dp_env_new/bin/pyftmerge
  dp_env_new/bin/pyftsubset
  dp_env_new/bin/python
  dp_env_new/bin/python3
  dp_env_new/bin/python3.12
  dp_env_new/bin/torchfrtrace
  dp_env_new/bin/torchrun
  dp_env_new/bin/ttx
  dp_env_new/lib64
  dp_env_new/pyvenv.cfg
  dp_env_new/share/man/man1/isympy.1
  dp_env_new/share/man/man1/ttx.1
  generation5_test_report.json
  quality_gates_report.json
Owners: @danieleschmidt

feat(deployment,kubernetes,monitoring): add enterprise Kubernetes config, zero-downtime deploy, and advanced privacy dashboard
  AUTONOMOUS_SDLC_QUALITY_REPORT.json
  AUTONOMOUS_SDLC_QUALITY_REPORT.md
  PROGRESSIVE_QUALITY_GATES_ENHANCEMENT_REPORT.md
  deploy/kubernetes-enterprise.yaml
  deploy/kubernetes.yaml
  deployment/zero_downtime_deployment.py
  monitoring/advanced_privacy_metrics_dashboard.py
Owners: @danieleschmidt, @sre-team

feat(deployment,kubernetes,monitoring): add enterprise Kubernetes config, zero-downtime deploy, and advanced privacy dashboard (#29)
  AUTONOMOUS_SDLC_QUALITY_REPORT.json
  AUTONOMOUS_SDLC_QUALITY_REPORT.md
  PROGRESSIVE_QUALITY_GATES_ENHANCEMENT_REPORT.md
  deploy/kubernetes-enterprise.yaml
  deploy/kubernetes.yaml
  deployment/zero_downtime_deployment.py
  monitoring/advanced_privacy_metrics_dashboard.py
Owners: @danieleschmidt, @sre-team
